# Ignore compiled / cached / log files 
*.pyc
*log
*.save
# Ignore service resulting files
*.jpg
*.png
*.index
# Byte-compiled / optimized / DLL files
__pycache__/
# Environments and related files
*.env
*.venv
*env/
*venv/
*ENV/
*env.bak/
*venv.bak/
Pipfile
Pipfile.lock
# Config files
*.cfg
