version: '3'
services:
  taco_mask:
    image: taco_mask_image:latest
    #build:
    #  context: ./app
    #  dockerfile: Dockerfile
    restart: unless-stopped
    network_mode: "host"
    container_name: taco_mask_api
    working_dir: /code/app
    command: sh -c "uvicorn main:app --reload --host 0.0.0.0 --port 7575 --workers 5 --forwarded-allow-ips '*'"
    volumes:
      - ./:/code
      # - ./app:/code/app
      - /var/run/docker.sock:/var/run/docker.sock
    shm_size: 1g
    ulimits:
      memlock: -1
      stack: 67108864
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PROJECT_SRC_RT=${PWD}
      - LC_ALL=C.UTF-8
      - LANG=C.UTF-8
